.register-container {
    background-image: url('/image/register.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.auth-container {
    padding-top: 70px;
    padding-bottom: 40px;
}
.register-left-container {
    padding: 0 4rem;
    color: #FFF;
    font-weight: 600;
}
.register-left-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Chaparral Pro';
}
.register-left-container p {
    margin: 3rem 0 1rem 0;
}
.register-list-rule {
    line-height: 3;
    margin-left: 2rem;
}
.register-left-icon {
    font-size: 1rem;
    color: #FFF;
}
.auth-title {
    text-align: center;
    font-size:xx-large;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cb6b13;
    color: #FFF;
}
.auth-form{
    padding: 50px 40px;
    background-color: #FFF;
}
.register-form {
    overflow: auto;
    height: 25rem
}
.register-right-container {
    padding: 0 3rem;
}

/* View Tablette */
@media (max-width: 991px) {
    .register-left-container {
        padding: 0 2rem;
    }
    .register-right-container {
        padding: 0 1.5rem;
    }
    .register-left-title {
        font-size: 1.6rem;
    }
    .register-list-rule {
        line-height: 2;
    }
    .register-left-container p {
        margin: 2rem 0 1rem 0;
    }
    .register-container::before {
        bottom: 0px;
    }
}
/* View Phone */
@media (max-width: 767px) {
    
    .register-container::before {
        bottom: -50%;
    }
    .auth-container {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .register-left-container {
        padding: 0 1rem;
    }
    .register-right-container {
        padding: 0 1rem;
        margin-top: 1rem;
    }
    .register-list-rule {
        margin-left: 1rem;
    }
}