.sidebar {
    height: 100vh;
    position: fixed;
    background-color: #cb6b13;
    width: 16%;
}

.sidebar-title {
    font-size: 1.1rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 1rem;
}

.sidebar-list {
    margin-top: 40px;
    list-style: none;
    line-height: 24px;
}

.sidebar-item {
    margin-top: 20px;
    padding: 15px 0px;
    font-size: 1.05rem;
}
.sidebar-item:hover {
    background-color: #FF9000;
}

.sidebar-link {
    color: #FFFFFF;
    padding: 0px 20px;
}

.icon-sidebar {
    margin-right: 5px;
}

.sidebar-title:hover, .sidebar-link:hover {
    color: white;
}

.dropdown-container {
    display: none;
  }

  .dropdown-container .sidebar-item {
    margin-top: 20px;
    font-size: 1rem;
    padding-left: 30px;
  }

  .dropdown-btn:hover {
    cursor: pointer;
  }
  
  .dropdown-btn a:hover {
    text-decoration: none;
  }


  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
.nav-dashboard {
    position: fixed;
    left: 16%;
    width: 84%;
    z-index: 3;
}
.dashboard-content {
    left: 16%;
    position: absolute;
    width: 84%;
    padding: 2rem;
    margin-top: 3rem;
}
.dashboard-content-detail-offre{
    left: 16%;
    position: absolute;
    width: 84%;
    margin-top: 3.6rem;
}
.icon-edit:hover {
    color: #ffc107;
}

.icon-action {
    font-size: 1.5rem
}

.icon-action .detail:hover {
    color: #0056b3;
}

.icon-action .edit:hover {
    color: #ffc107;
}

.icon-action .supp:hover {
    color: #dc3545;
}
.show-container {
    margin-bottom: 30px;
}
.list-container {
    margin-top: 1.4rem;
    line-height: 1.5;
}
.qui {
    font-size:1.4rem; 
    text-decoration: underline;
    font-family: 'Rockwell';
}

/* Configuration */
.config-card {
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1.3px 1px #00000031;
}
.config-title {
    font-size: 2rem;
    font-family: 'Cambria Century';
    text-align: center;
}
.config-number {
    display: flex;
    font-size: 8rem;
    justify-content: center;
    width: 100%;
}
.config-link {
    margin-left: auto;
    margin-top: auto;
    background-color: #cb6b13;
    color: #FFFFFF;
    padding: .5rem;
    border-radius: 50%;
    width: 50px;    
    height: 50px;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
}
.config-plus {
    font-size: 4rem;
    top: -25px;
    position: absolute;
    right: 5px;
}
.config-link:hover {
    color: #FFFFFF
}

/* Index dashboard */
.nbre-user {
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #FFC336;
    box-shadow: 0px 0px 7px 1px #00000031;
    color: #FFFFFF;
}
.nbre {
    font-size: 4rem;
    margin-top: -1rem;
    font-weight: bold;
}
.user{
    font-family: 'Palatino Linotype';
    font-size: 1.4rem;
    margin-top: -1rem;
}
.dashboard-index-lil-title {
    color: #878787;
    font-family: 'Palatino Linotype';
    margin-left: 10px;
}
.dashboard-index-lil-nbre {
    font-size: 3rem;
    margin-left: 10px;
}
.left-bar {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #C1C1C1;
}
.dashboard-index-subtitle {
    font-size: 1.6rem;
}
.dashboard-index-welcome {
    font-size: 1.4rem;
    color: #FFFFFF;
    background-color: #FFC336;
}

/* View Tablette -- Medium devices (tablets, 768px and up) */

@media (max-width: 991px) {

    .sidebar {
        width: 14%;
    }
    .dashboard-content {
        position: absolute;
        padding: 1rem;
        left: 14%;
        width: 86%;
    }
    .dashboard-content-detail-offre {
        left: 14%;
        position: absolute;
        width: 86%;
        margin-top: 3rem;
    }
    .show-container {
        margin-left: 2px;
        width: 100%;
    }

    .nav-dashboard {
        left: 14%;
        width: 86%;
    }

    .config-card {
        margin: 1rem;
        padding: 1rem;
    }
    .config-number{
        font-size: 6rem;
    }
    .config-plus {
        font-size: 2rem;
        top: -10px;
    }
    .config-link {
        width: 30px;
        height: 30px;
        bottom: 2rem;
        right: 2.4rem;
    }
    .icon-action {
        font-size: 1.1rem;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .nav-dashboard {
        left: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .dashboard-content {
        position: absolute;
        padding: 1rem;
        left: 0;
        width: 100%;
    }
    .sidebar-list {
        margin-top: 15px;
    }
    .sidebar-item {
        margin-top: 0;
        padding: 15px 0px;
    }
    .sidebar-link {
        padding-left: 0;
    }

    .show-head-container {
        margin-top: 3.6rem;

    }
    .dashboard-content-detail-offre {
        left: 0;
        width: 100%;
        margin-top: 0;
    }
}