.home-container {
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.filtre-container {
    position: sticky;
    top: 0px;
}

.filtre-title {
    font-family: 'Sylfaen';
    text-align: center;
    font-size: 1.75rem;
}


.filtre-subtitle {
    font-family: 'Sylfaen';
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.filtre-content {
    padding: 30px 20px;
    background-color: #FFFFFF;
    border: 1px solid #70707079;
    border-radius: 7px;
}

.filtre-list {
    line-height: 22px;
}

.filtre-item {
    font-size: .85rem;
}

.offre-item {
    padding: 5px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border: 1px solid #70707079;
    border-radius: 7px;
}

.image-offre {
    width: 100%;
    height: 120px;
    background-color: #BCBCBC;
}

.offre-title {
    font-family: 'Rockwell';
    font-size: 1.8rem;
}

.offre-subtitle {
    font-size: .85rem;
    color: #333333;
    font-weight: lighter;
}

.offre-footer {
    height: 65px;
    padding-left: 15px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.offre-simulaire {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.offre-card {
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 1.7px 1px #00000018;
    margin: 0px 15px;
    position: relative;
    border: 0.5px solid #00000023;
    flex: 0 0 20%;
    flex-basis: 20%;
    max-width: 20%;
}
.offre-card:hover {
    box-shadow: 0px 0px 1.7px 1.3px #00000025;
}
.offre-simulaire-title {
    font-size: 1.25rem;
    font-family: 'Rockwell';
    color: #292828;
    text-transform: lowercase;
}
.offre-simulaire-title::first-letter {
    text-transform: uppercase;
}
.offre-simulaire-footer {
    margin-top: auto;
    color: #333333;
    position: absolute;
    bottom: 3px;
}

/* PAGE ACCUEIL */
.head {
    height: 90vh;    
    position: relative; 
    background-image: url("/image/head.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head::before {
    content: "";
    position: absolute; 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f5f5f538;
}
.head-word {
    position: relative;
    font-size: 2.6rem;
    text-align: right;
    font-family: 'Bell MT';
    line-height: 1.3;
    color: #1D1D1D;
    padding-top: 3rem;
    padding-right: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}
.head-offre {
    margin-top: 6rem;
    position: absolute;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Bw Modelica';
    padding: 20px 35px;
    font-size: 2.4rem;
}

.search-bar {
    padding: 20px 0px;
    background-color: #7023A2;
}

.entreprise {
    padding: 2rem 4rem;
    background-color: #EEEEEE;
}
.entreprise-title {
    font-size: 2.4rem;
    font-family: 'Bw Modelica Hairline';
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}
.orange {
    position: relative;
    background-image: url('/image/orange.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    height: 550px;
    width: 100%;
}
.huawei {
    position: relative;
    background-image: url('/image/huawei.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    height: 270px;
    width: 100%;
}
.azalai {
    position: relative;
    background-image: url('/image/azalai.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    margin-top: 10px;
    height: 270px;
    width: 100%;
}
.entreprise-offre {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Calibri';
    font-size: 1.8rem;
    background-color: #7023A2;
    padding: 5px 0px;
    color: #FFFFFF;
    
}

.zone {
    margin: 4rem;
    padding: 2rem;
    box-shadow: 0px 0px 1.9px 2px #00000018;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: 'cambria';
    font-size: 1.4rem;
    line-height: 2.4;
    color: #676767;
}
.zone-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1D1D1D;
}