.home-container {
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.filtre-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.filtre-title {
    font-family: 'MADE Evolve Sans';
    text-align: center;
    font-size: 1.2rem;
}


.filtre-subtitle {
    font-family: 'MADE Evolve Sans';
    font-size: 1rem;
    margin-bottom: 5px;
}

.filtre-content {
    padding: 30px 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 2px #00000031;
    border-radius: 7px;
}

.filtre-list {
    line-height: 22px;
}

.filtre-item {
    font-size: .85rem;
}

/* Home - Profil layout */
.home-profil-container {
    margin-top: 1rem;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 2px 2px #00000031;
    background-color: #FFFFFF;
}
.home-profil-img {
    background-color: #CFCFCF;
    width: 100%;
    height: 120px;
}
.home-profil-title {
    font-family: 'MADE Evolve Sans';
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .6rem;
    text-align: center;
}
.home-profil-trait {
    margin: -6px auto 1rem auto;
    width: 23%;
    background-color: #333333;
    height: 3px;
}
.home-profil-button {
    font-family: 'MADE Evolve Sans';
    margin-bottom: .6rem;
    text-align: center;
    font-size: 12px;
}
.home-profil-offre_par_profil {
    font-size: .8rem;
    margin-bottom: .6rem;
    text-align: center;
}
.home-profil-tag {
    /* text-align: center; */
}
.home-profil-tag-text {
    font-size: .8rem;
    background-color: #E5E5E5;
    color: #4D4D4D;
    border-radius: 3px;
    padding: 2px 4px
}

/* SIDE BLOCK OFFRE DETAIL */
.side-block-offre {
    margin-top: 1rem;
    margin-bottom: 10px;
    padding: 3px;
    border: 2px solid #FF9000;
}
.side-block-offre-image {
    background-color: #C4C4C4;
    margin-top: .4rem
}
.side-block-offre-title {
    font-family: 'MADE Evolve Sans';
    font-size: .8rem;
    line-height: 1.2;
    margin-top: .4rem
}
.side-block-offre-bottom-container {
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
}
.side-block-entreprise {
    font-size: .8rem;
    font-weight: bold;
}
.side-block-lieu {
    font-size: .8rem;
    color: #8F8F8F;
}
.side-block-btn-postule .btn-outline-custom {
    font-size: .8rem;
    border-width: 1px;
    font-size: .8rem !important;
    padding: .25rem .50rem !important;
}


/* PUB - alert */
.home-pub-alert {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 2px 2px #00000031;
}
.home-pub-alert-title {
    font-family: 'MADE Evolve Sans';
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .6rem;
    text-align: center;
}
.home-pub-alert .pub-alert-list {
    list-style-type: decimal;
    list-style-position: inside;
}

/* PUB */
.pub1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #CFCFCF;
    height: 360px;
    width: 100%;
}
.pub2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #CFCFCF;
    height: 290px;
    width: 100%;
}
.pub3 {
    background-color: #CFCFCF;
    height: 40px;
    width: 100%;
}

.offre-item {
    padding: 5px;
    border-bottom: 1px solid #C4C4C4;
    background-color: #fff;
}

.image-offre {
    width: 100%;
    height: 190px;
    background-color: #BCBCBC;
}

.offre-title {
    font-family: 'MADE Evolve Sans';
    font-size: 1.8rem;
}

.offre-subtitle {
    font-size: .85rem;
    color: #333333;
    font-weight: lighter;
}
.offre-description {
    margin: 20px 100px 10px 0px;
    font-size: 1rem;
    line-height: 1.2;
}
.offre-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.offre-footer-space {
    position: relative;
}
.offre-date {
    font-style: italic;
    color: #8D8D8D;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.offre-simulaire {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.offre-card {
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 1.7px 1px #00000018;
    margin: 5px 15px;
    position: relative;
    border: 0.5px solid #00000023;
}
.offre-card:hover {
    box-shadow: 0px 0px 1.7px 1.3px #00000025;
}
.offre-simulaire-title {
    font-size: 1.25rem;
    font-family: 'Rockwell';
    color: #292828;
    text-transform: lowercase;
}
.offre-simulaire-title::first-letter {
    text-transform: uppercase;
}
.offre-simulaire-footer {
    margin-top: auto;
    color: #333333;
    position: absolute;
    bottom: 3px;
}

/* PAGE ACCUEIL */
.head {
    height: 90vh;    
    position: relative; 
    background-image: url("/image/accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head::before {
    content: "";
    position: absolute; 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #00000030;
}
.head-offre-text {
    text-align: center;
    font-family: 'MADE Evolve Sans';
    color: #ffffff;
}
.head-btn-content {
    position: relative;
    padding-left: 8rem;
}
.head-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.6rem;
    padding: .375rem .75rem;
    line-height: 1.5;
}
.head-btn:hover {
    text-decoration: none;
    background-color: #FF9000;
    color: #FFFFFF;
    border-width: 1px;
}
.search-bar {
    padding: 20px 0px;
    background-color: #cb6b13;
}

.entreprise {
    padding: 2rem 4rem;
    background-color: #EEEEEE;
}
.entreprise-item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    width: 100%;
}
.entreprise-item:hover {
    box-shadow: 0px 0px 6px 4px #00000049;
}
.entreprise-title {
    font-size: 2.4rem;
    font-family: 'Bw Modelica Hairline';
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}
/*
.orange {
    background-image: url('/image/orange.png');
    height: 550px;
}
.huawei {
    background-image: url('/image/huawei.jpg');
    margin-bottom: 10px;
    height: 270px;
}
.azalai {
    background-image: url('/image/azalai.jpg');
    margin-top: 10px;
    height: 270px;
}
*/
.entreprise-offre {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Calibri';
    font-size: 1.8rem;
    background-color: #cb6b13;
    padding: 5px 0px;
    color: #FFFFFF;    
}

.zone {
    margin: 4rem;
    padding: 2rem;
    box-shadow: 0px 0px 1.9px 2px #00000018;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: 'cambria';
    font-size: 1.4rem;
    color: #676767;
}
.zone-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1D1D1D;
}

/* ENTREPRISE DETAIL*/
.entreprise-detail-head {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.entreprise-detail-libelle {
    position: absolute;
    padding: 1rem 3rem;
    bottom: 2rem;
    left: 0;
    background-color: #FFFFFF;
    font-size: 2.6rem;
    font-family: 'Bw Modelica';
    font-weight: 600;
}
.entreprise-detail-offres-container {
    margin: 2rem;
}
.entreprise-detail-offres-title {
    font-size: 1.6rem;
}

/* AVANTAGE */
.avantage {
    padding: 4rem 6rem;
    background-color: #fff;
}
.avantage-title {
    text-transform: uppercase;
        font-family: 'Montserrat, Georgia, serif';
    color: #cb6b13;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.trait-container {
    display: flex;
    justify-content: center;
}
.trait {
    width: 15%;
    height: 2px;
    background-color: #F3A202;
    margin-top: 3rem;
    margin-bottom: 2rem; 
}
.avantage-content {
    margin-bottom: 3rem;
}
.avantage-icon {
    background-color: #FFF;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #F3A202;
    border: 1px solid;
}
.avantage-item-title {
    text-transform: uppercase;
    color: #F3A202;
    font-size: 1.6rem;
    position: absolute;
    margin-left: 20px;
}
.avantage-item-text {
    color: #707070;
    font-size: 1rem;
    margin-left: 4.4rem;
    margin-top: -0.4rem;
}
.comment {
    padding: 4rem 6rem;
    background-color: #8A4619;
    color: #fff;
}
.comment-title {
    text-transform: uppercase;
        font-family: 'Montserrat, Georgia, serif';
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.comment-image {
    height: 250px;
    width: 250px;
    text-align: center;
}
.comment-text {
    text-align: center;
    margin-top: 1rem;
}
.a-propos {
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 0 0 1.9px 1px #00000028;
    border: 1px solid #70707079;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
}
.a-propos .title {
    font-size: 1rem;
    color: #484848;
    line-height: 2;
}
.a-propos .item {
    font-size: .85rem;
    color: #484848;
    
}
.a-propos .item .value {
    font-size: .85rem;
    color: #8D8D8D;
}

.star {
    float: right;
    font-size: 1rem;
}
.icon-star {
    color: #656565;
}
.color-star {
    color: #B34DF5;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFF;
    background-color: #FF9000;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    text-decoration: none;
}
.tab-item {
    background-color: #cb6b13;
}
.offre-filtre-container {
    border: 1px solid #70707050;
    border-radius: 0 0 10px 10px;
}
#myTabContent {
    text-align: left;
    padding: 1rem;
}

/* JOBBOARD */
.jobboard-header {
    background-color: #D5D5D5;
}
.jobboard-header-title {
    position: relative;
    font-family: 'Bw Modelica';
    font-weight: bolder;
    font-size: 4rem;
    color: #FFF;
    width: 56%;
    padding-top: 10rem;
    padding-left: 8rem;
}
.jobboard-header-text {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #FFF;
    width: 56%;
    padding-left: 8rem;
}
.btn-jobboard {
    font-size: 2rem;
}
.jobboard-chiffre {
    padding: 4rem;
    background-color: #fff;
}
.jobboard-chiffre-title {
    font-family: 'Bw Modelica Hairline';
    font-size: 2.6rem;
}
.chiffre-item-container {
    margin-top: 6rem;
}
.jobboard-chiffre-item {
    border-left: 3px solid #BEBEBE;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.jobboard-chiffre-chiffre {
    font-family: 'Cambria';
    font-weight: bold;
    font-size: 2rem;
}
.jobboard-right-container {
    margin: auto;
    padding: 2rem 4rem;
    text-align: center;
    background-color: #199CCE;
    color: #fff;
    border-radius: 1rem;
}
.jobboard-right-container .source {
    font-style: italic;
}

/* DETAIL OFFRE */
.show-container {
    margin-left: 40px;
    margin-right: 40px;
}

/* View Tablette -- Medium devices (tablets, 768px and up) */

@media (max-width: 991px) { 
    .head {
        height: 40vh;
    }
    .head-offre {
        font-size: 1.6rem;
        margin-top: 2rem;
    }
    /* ACCUEIL HEAD */
    .jobboard-header-title {
        padding-left: 2rem;
        padding-top: 8rem;
        font-size: 2.6rem;
        width: 70%;
    }
    .jobboard-header-text {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 70%;
        padding-left: 2rem;
    }
    .head-btn-content {
        padding-left: 2rem !important;
    }
    .head-btn {
        font-size: 1.2rem !important;
    }
    
    .entreprise {
        padding: .5rem 1rem;
    }
    .entreprise-title {
        margin-bottom: 1rem
    }
    .zone {
        margin: .5rem 1rem;
        padding: 1rem
    }
    .footer-haut {
        padding: .5rem 1rem;
    }

    .avantage {
        padding: 2rem 2rem;
    }
    .avantage-title {
        font-size: 1.6rem;
    }
    .avantage-item-title {
        font-size: 1.4rem;
        margin-left: 0px;
    }
    .avantage-content {
        margin-bottom: 1rem;
    }

    .comment {
        padding: 2rem 2rem;
    }
    .comment-title {
        font-size: 1.6rem;
    }
    .comment-image {
        height: 200px;
        width: 200px;
    }

    /* Page home */
    .home-container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .filtre-title {
        font-size: 1.2rem;
        font-weight: normal;
    }
    .filtre-content {
        margin-top: 1rem;
        padding: 1rem .5rem;
    }
    .filtre-subtitle{
        font-size: 1rem
    }
    .filtre-item {
        font-size: .8rem;
    }
    .entreprise-detail-offres-title {
        font-size: 1.4rem;
    }
    .offre-title {
        font-size: 1.4rem;
    }
    .btn-custom {
        padding: .5rem .7rem;
        font-size: .8rem;
    }
    .offre-footer {
        font-size: .85rem;
    }
    .offre-card {
        padding-left: 5px;
        padding-right: 5px;
    }
    .postuler-container {
        padding: 1rem 1rem;
    }
    .offre-description {
        font-size: .8rem;
        margin: 10px 70px 10px 0px;
    }

    /* DETAIL OFFRE */
    .show-container {
        margin-left: 25px;
        margin-right: 25px;
    }
 }


/* View Phone -- Medium devices (tablets, 576px and up) */

@media (max-width: 767px) { 
    .head {
        height: 30vh;
    }
    .head-btn {
        font-size: 1rem !important;
    }

    /* ACCUEIL HEAD */
    .jobboard-header-title {
        padding-left: 1rem;
        padding-top: 1em;
        font-size: 1.1rem;
    }
    .jobboard-header-text {
        margin-top: .4rem;
        margin-bottom: .4rem;
        width: 80%;
        padding-left: 1rem;
        font-size: .8rem;
    }
    .head-btn-content {
        padding-left: 1rem !important;
    }
    .head-btn {
        font-size: .8rem !important;
    }
    .search-bar {
        padding: 10px 5px;

    }
    .nav-tabs .nav-link {
        font-size: 1rem;
    }
    .offre-title {
        font-size: 1.2rem;
        margin-top: .5rem;
    }
    .adresse-search {
        margin-top: .5rem;
    }
    .button-search {
        margin-top: .5rem;
        padding: 0px 15px;
    }

    .entreprise-title {
        font-size: 1.4rem;
    }
    .orange {
        margin-bottom: 10px;
        height: 270px;
    }
    
    .zone {
        text-align: left;
        font-size: 1rem;
        margin: .2rem .5rem;
        padding: .5rem;
    }
    .zone-title {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }
    .break{
        display: block;
    }

    .avantage {
        padding: 1rem;
    }
    .avantage-title {
        font-size: 1.2rem;
    }
    .trait {
        width: 25%;
        background-color: #F3A202;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    .avantage-icon {
        font-size: 1rem;
    }
    .avantage-item-title {
        font-size: 1rem;
    }
    .avantage-item-text{
        margin-left: 0;
        margin-top: 0;
    }
    .comment {
        margin-bottom: 2rem;
    }
    .comment-title {
        font-size: 1.2rem;
    }
    .comment-text {
        margin-bottom: 2rem;
        margin-top: .4rem;
    }
    /* Page home */
    .image-offre {
        height: 200px;
    }
    .offre-footer {
        position: relative;
    }
    .btn-list-detail{
        float: left !important;
        padding: .35rem .75rem;
        font-size: .8rem;
    }
    .add-padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    /* Detail entreprise */
    .entreprise-detail-head {
        height:30vh;
    }
    .entreprise-detail-libelle{
        font-size: 1.4rem;
        padding: 5px;
    }
    .entreprise-detail-offres-container {
        margin: 1rem;
    }
    .star {
        position: absolute;
        top: -12.2rem;
        right: .4rem;
    }

    
    /* DETAIL OFFRE */
    .show-container {
        margin-left: 20px;
        margin-right: 20px;
    }
 }